<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav class="nav" mode="push">
		<ul class="list-unstyled components">
			<p style="text-align: center;">Site</p>
			<li>
				<a routerLink="/" routerLinkActive="active">Home</a>
			</li>
			<li>
				<a href="#">My Account</a>
			</li>
			<p style="text-align: center;">Categories</p>
			<li *ngFor="let cat of cats" style="padding:15px">
				<a href="#ref{{cat._id}}" data-toggle="collapse" aria-expanded="false" style="padding:15px">{{ cat.name }}</a>
				<ul class="collapse list-unstyled" id="ref{{cat._id}}">
					<li *ngFor="let subcat of cat.subcat" style="padding:15px">

						<a href="">{{ subcat.name }}</a>

					</li>
				</ul>

			</li>

			<li>

		</ul>
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar>

			<mat-toolbar-row>
				<mat-icon (click)="sidenav.toggle()">list</mat-icon>
				<span>Purchase</span>
				<!-- search bar -->
				<div class="container">
					
					<div class="row">
						<div class="col-md-4 col-md-offset-9">
							<form action="" class="search-form">
								<div class="form-group has-feedback">
									<label for="search" class="sr-only">Search</label>
									<input [(ngModel)]="keyword" type="text" class="form-control" name="search" id="search" placeholder="search">
								<a routerLink="/search/{{keyword}}" routerLinkActive="active"><span class="glyphicon glyphicon-search form-control-feedback"></span></a>	
								</div>
							</form>
						</div>
					</div>
				</div>

			</mat-toolbar-row>

			<mat-toolbar-row>
				<div>
					<a *ngFor="let cat of cats" href="#" id={{cat._id}} style="padding:15px">{{cat.name}}</a>
					<a href="#" style="padding:15px">All Categories</a>
				</div>
			</mat-toolbar-row>

		</mat-toolbar>

		<router-outlet></router-outlet>		

	</mat-sidenav-content>
</mat-sidenav-container>