<div *ngIf="!loggedIn" *ngFor="let pro of products" href="#" id={{pro._id}} style="padding:15px">
<table style="width:95%; border : 1px;" >
  <tr>
    <td> <img src="{{pro.img}}" alt="myproducts"> </td>
    <td>
      <tr>
      {{pro.name}}
    </tr>
    <tr>
      {{pro.desc}}
    </tr>
  </td>
    <td>
      <tr>
        {{pro.price}}
      </tr>
      <tr>
        {{pro.pcs}}
      </tr>
      <tr>
        <button type="button" name="button"> Edit product </button>
      </tr>
    </td>
  </tr>
</table>
</div>
